/* Accordion.css */
.accordion {
  width: 500px;
  border: 1px solid #ccc;
  background-color: #373837;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
}

.accordion-title {
  padding: 16px;
  font-weight: bold;
}

.accordion-content {
  padding: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.accordion-container {
  flex-wrap: wrap;
}

.white-text {
  color: white;
}

/* h1 {
  color: white;
} */
/* 
button {
  border-radius: 5px;
  width: 15px;
} */