body {
    background: linear-gradient(to top, #000000, #5f5656);
}

.hero {
    text-shadow: 2px 2px 4px #000000;
}




/* Signup Page Styles */
#SignupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    height: 90vh;
}

#SignupForm h1 {
    color: #ffffff;
}

#SignupForm input {
    width: 20vw;
    height: 10vh;
    border: 1px solid #000000;
    border-radius: 4%;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    color: #000000;
    margin-bottom: 3vh;
}


#SignupForm button {
    width: 13vw;
    height: 7vh;
    background-color: #000000c7;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, background-color .7s ease-in-out;
}

#SignupForm button:hover {
    color: #000000;
    background-color: #696969;
    transform: scale(1.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5); 
    text-decoration: underline;
}

#SignupForm a {
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 1s ease-in-out, box-shadow 0.7s ease-in-out, color 0.5s ease-in-out;
}

#SignupForm a:hover {
    color: #857777;
    transform: scale(1.2);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .5); 
    text-decoration:underline;
}

#SignupForm p {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* Login Page Styles */
#LoginPage h1 {
    color: #ffffff;
}

#LoginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    height: 75vh;

}

#LoginPage input {
    width: 20vw;
    height: 10vh;
    border: 1px solid #000000;
    border-radius: 4%;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 3vh;
}

#LoginPage button {
    width: 13vw;
    height: 7vh;
    background-color: #000000c7;
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, background-color .7s ease-in-out;

}

#LoginPage button:hover {
    color: #000000;
    background-color: #696969;
    transform: scale(1.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5); 
    text-decoration: underline;
}

#LoginPage a {
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 1s ease-in-out, box-shadow 0.7s ease-in-out, color 0.5s ease-in-out;
}

#LoginPage a:hover {
    color: #857777;
    transform: scale(1.2);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .5); 
    text-decoration:underline;
}

#LoginPage p {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 2%;
}





/* Profile Page Styles */ 



#ProfilePage {
    background: linear-gradient(to top, #212529, #000000);
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#ProfileTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    height: 90vh;
}

#ProfileTop img {
    max-width: 10vw;
    max-width: 17vh;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-top: 2%;
}

#ProfileTop a {
    color: #d1b5b5;
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, color 0.5s ease-in-out;
}

#ProfileTop a:hover {
    color: #c4b6b6;
    transform: scale(1.05);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, .5); 
    text-decoration:underline;
}

#ProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#ProfileInfo h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#ProfileInfo h2 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#ProfileInfo p {
    color: #d1b5b5;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    text-align: center;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

#ProfileEdit {
    position: absolute;
    top: 15px;
    right: 15px;
}

#ProfileEdit button {
    background-color: #31373d;
    color: #d1b5b56c;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

#ProfileEdit button:hover {
    color: #000000;
    background-color: #888888;
    transform: scale(1.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5); 
    text-decoration: underline;
}





/* DaysCard Styles */
#DayCard {
    border: 1px solid #000000;
}
/* move the button to the end  */
#DayCardButton {
    position:absolute;
    top: 50;
    right: 0;
    margin: 2%;
    width: 5vw;
    background-color: #31373d;
    color: #d1b5b56c;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

#DayCardButton:hover {
    color: #000000;
    background-color: #888888;
    transform: scale(1.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5); 
    text-decoration: underline;
}


#DayCardInner h3 {
    color: #ffffff;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

#DayCardInner h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #d4c2c2;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

#DayCardInner p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #d1b5b5;
    font-family: 'Arial', sans-serif;
}





/* <div id='DayCard'>
                <button id='DayCardButton'>Edit</button>
                {week.map((day, index) => (
                  <div id='DayCardInner'
                  key={index}>
                    <h3>{day.Day}</h3>
                    <p>Workout: {day.WorkoutName}</p>
                    <p>Exercises: {day.Exercise.join(', ')}</p>
                    <p>Goals: {day.Goal.join(', ')}</p>
                  </div>
                ))}
              </div>
            );
          }; */


/* Profile modal styles */
#ProfileModalBackground {
    /* Existing styles */
    background: linear-gradient(to top, #837272c0, #000000);
    position: fixed;
    opacity: 0; /* Start with zero opacity */

    /* New animation styles */
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* Keep the final state of animation */
    top: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#ProfileModal {
    /* Existing styles */
    top: 50%;
    left: 50%;
    background: linear-gradient(to bottom, #d1b5b5c0, #000000);
    border-radius: 10%;
    margin: 0 auto;
    padding: 4%;
    border: 1px solid #888;
    width: 60%;
    align-items: center;
    animation-name: slidedown;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slidedown {
    0% {
        transform: translate(-65%, -50%);
    }
    100% {
        transform: translate(-50%, 50%);
        width: 80%;
    }
}



#ModalHeader button {
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#ModalHeader button:hover {
    background-color: #6b7c7a;
}

.ModalTextInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    color: #000000;
}

#ModalNumberInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    color: #a79292;
}

.ModalTextInput2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    color: #d1b5b5;
}

.modal-footer button {
    background-color: #31373d;
    color: #d1b5b56c;
    text-decoration: none;
    transition: transform 2s ease-in-out, box-shadow 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

.modal-footer button:hover {
    color: #d1b5b5;
    background-color: #31373d;
    transform: scale(1.05);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .5); 
    text-decoration: underline;
}








/* Workout Modal */
#WorkoutModal {
    /* Existing styles */
    transform: translate(-100%, 20%);
    background: linear-gradient(to bottom, #d1b5b5c0, #000000);
    margin: 0 auto;
    padding: 4%;
    border: 1px solid #888;
    width: 30%;
}


/*  */
#hero-flex {
    background-image: url('../images/home-hero.jpg');
    background-size: cover;
    height: 75vw
}


/* Media Queries !!! */

@media only screen and (min-width: 1200px) {
    #hero-flex {
        background-image: url('../images/home-hero.jpg');
        background-size: cover;
        height: 45vw;
        background-position-y: -100px;
    }

    #hero-flex h2 {
        font-size: 80px;
    }

    .hero-signup {
        font-size: 2.5rem;
    }
}